<div class="jambotron">
  <div class="row">
  <div class="col-7 col-lg-7">

    <img src="/assets/image/celebal_name_logo.png" height="30px" class="logo" style="cursor: pointer;" [routerLink]="['/home']">

    <div *ngFor="let data of data1">
      <div *ngIf="data.type=='heading'">
        <p  [ngStyle]="{'color': data.color, 'font-size': data.fontsize,'margin-left':data.mar_l,'font-weight':data.fontweigth,'background':data.background }">{{data.text}}</p>
        </div>
        <div *ngIf="data.type=='para'">
        <p  [ngStyle]="{'color': data.color, 'font-size': data.fontsize, 'font-weight':data.fontweigth,'background':data.background }">{{data.text}}</p>
        </div>
        <div *ngIf="data.type=='input'">
          <input type="text" name="username" placeholder="Username" required>
        </div>
         <div *ngIf="data.type=='button'" >

         <button [ngStyle]="{'color': data.color, 'font-size': data.fontsize,'margin-left':data.mar_l, 'font-weight':data.fontweigth,'background':data.background }" class="btn btn-primary"  >{{data.label}}</button>
        </div>

    </div>
  </div>
  <div class="col-5 col-lg-5" style="    padding-right: 10%;
  padding-top: 5%;">
    <div style="border:4px dashed black;border-radius: 10px;background-color:#403c3c ;padding:2%;">
      <div *ngFor="let data of data">
       <form #f="ngForm"  (ngSubmit)="getdata(f)">
        <div *ngIf="data.type=='heading'">
          <p  [ngStyle]="{'color': data.color, 'font-size': data.fontsize,'font-weight':data.fontweigth,'background':data.background }">{{data.text}}</p>
          </div>
          <div *ngIf="data.type=='para'">
          <p  [ngStyle]="{'color': data.color, 'font-size': data.fontsize, 'font-weight':data.fontweigth,'background':data.background }">{{data.text}}</p>
          </div>
          <div *ngIf="data.type=='input'">
            <div class="form-group" >
            <label for="{{data.labelName}}">{{data.labelName}}</label>
            <input  ngModel type="{{data.inputType}}"  name="{{data.name}}" class="form-control"   placeholder="{{data.placeholder}}">
            </div>
          </div>
          <!-- <input type="{{radiodata.value.inputType}}" name="{{radiodata.value.name}}"
          id="{{radiodata.value.id}}" value="{{radiodata.value.value}}"
          (change)="selectedPort($event.target.value)"> -->
          <div *ngIf="data.type=='button'">
          <button type="{{data.label}}" class="btn btn-primary">{{data.label}}</button>
           </div>
      </form>
    </div>
      </div>
  </div>
  </div>

</div>






  <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input name="first" ngModel required #first="ngModel">
    <input name="last" ngModel>
    <button>Submit</button>
  </form> -->


<!--

<div class="login-form">
  <h1>Login Form</h1>
  <form #gh="ngForm">

    <div *ngFor="let dat of data">
      <input  class="form-control"
      placeholder={{dat.placeholder}} type={{dat.inputType}}
      id={{dat.id}}  required>
      <!--    </div>
    <input type="submit" (click)="login($event)">
  </form>
</div>

{
  "labelName": "Email",
  "inputType": "email",
  "placeholder": "Enter Your Email",
  "id": "input_email",
  "formControlName": "inputEmail",
  "required": "yes"
  },
  {
  "labelName": "Password",
  "inputType": "password",
  "placeholder": "Enter your password",
  "id": "input_pwd",
  "formControlName": "inputPassword",
  "required": "yes"
  } -->
