<div class="jambotron">
  <div class="row">
  <div class="col-3 col-lg-3">
    <div *ngFor="let data of data">
      <div *ngIf="data.type=='heading'">
        <p  [ngStyle]="{'color': data.color, 'font-size': data.fontsize,'margin-left':data.mar_l,'font-weight':data.fontweigth,'background':data.background }">{{data.text}}</p>
        </div>
        <div *ngIf="data.type=='para'">
        <p  [ngStyle]="{'color': data.color, 'font-size': data.fontsize, 'font-weight':data.fontweigth,'background':data.background }">{{data.text}}</p>
        </div>
        <div *ngIf="data.type=='input'">
          <input type="text" name="username" placeholder="Username" required>
        </div>
         <div *ngIf="data.type=='button'" >

         <button [ngStyle]="{'color': data.color, 'font-size': data.fontsize,'margin':data.mar, 'font-weight':data.fontweigth,'background':data.background }" class="btn btn-primary"  >{{data.label}}</button>
        </div>

    </div>
  </div>
  <div class="col-9 col-lg-9" style="    padding-right: 10%;
  padding-top: 5%;">
    <!-- <div style="border:4px dashed black;border-radius: 10px;background-color:#403c3c ;padding:2%;">

      </div> -->
  </div>
  </div>

</div>

